USE [Akina_peintures]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 27/04/2017 22:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Question](
	[ID_Q] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [varchar](50) NOT NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[ID_Q] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ID_Q], [Libelle], [Type]) VALUES (1, N'portrait', N'genre')
INSERT [dbo].[Question] ([ID_Q], [Libelle], [Type]) VALUES (2, N'paysage', N'genre')
INSERT [dbo].[Question] ([ID_Q], [Libelle], [Type]) VALUES (3, N'nature morte', N'genre')
GO
SET IDENTITY_INSERT [dbo].[Question] OFF
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Question] FOREIGN KEY([ID_Q])
REFERENCES [dbo].[Question] ([ID_Q])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Question]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Liste des questions' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Question'
GO
