USE [Akina_peintures]
GO
/****** Object:  Table [dbo].[Connaissance]    Script Date: 27/04/2017 22:47:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Connaissance](
	[ID_C] [int] IDENTITY(1,1) NOT NULL,
	[ID_Question] [int] NOT NULL,
	[ID_Reponse] [int] NOT NULL,
	[ID_Oeuvre] [int] NULL,
 CONSTRAINT [PK_Connaissance] PRIMARY KEY CLUSTERED 
(
	[ID_C] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Connaissance] ON 

INSERT [dbo].[Connaissance] ([ID_C], [ID_Question], [ID_Reponse], [ID_Oeuvre]) VALUES (2, 2, 1, 1)
INSERT [dbo].[Connaissance] ([ID_C], [ID_Question], [ID_Reponse], [ID_Oeuvre]) VALUES (3, 18, 1, 1)
INSERT [dbo].[Connaissance] ([ID_C], [ID_Question], [ID_Reponse], [ID_Oeuvre]) VALUES (7, 3, 1, 2)
GO
SET IDENTITY_INSERT [dbo].[Connaissance] OFF
ALTER TABLE [dbo].[Connaissance]  WITH CHECK ADD  CONSTRAINT [FK_Connaissance_Oeuvre] FOREIGN KEY([ID_Oeuvre])
REFERENCES [dbo].[Oeuvre] ([ID_O])
GO
ALTER TABLE [dbo].[Connaissance] CHECK CONSTRAINT [FK_Connaissance_Oeuvre]
GO
ALTER TABLE [dbo].[Connaissance]  WITH CHECK ADD  CONSTRAINT [FK_Connaissance_Question] FOREIGN KEY([ID_Question])
REFERENCES [dbo].[Question] ([ID_Q])
GO
ALTER TABLE [dbo].[Connaissance] CHECK CONSTRAINT [FK_Connaissance_Question]
GO
ALTER TABLE [dbo].[Connaissance]  WITH CHECK ADD  CONSTRAINT [FK_Connaissance_Reponse] FOREIGN KEY([ID_Reponse])
REFERENCES [dbo].[Reponse] ([ID_R])
GO
ALTER TABLE [dbo].[Connaissance] CHECK CONSTRAINT [FK_Connaissance_Reponse]
GO
